body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.42857;
    text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
}
